@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.toaster{
  background-color: red;
  
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray ;
  border-bottom: 0.1px solid gray;
  position: sticky;
  top: 0; 
  z-index: 1000; 
}

.nav-link{
  font-weight:400;
}

.active{
  border-bottom: 2px solid black;
  font-weight: 500;
}

.navbar-brand{
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 5px;
}
.authUserName{
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.dropdown-toggle{
  text-decoration: none;
  border: none;
}

.footer{
  color: white;
  padding: 16px;
  background: linear-gradient(to right, #434343, #000000);
  position: sticky;
  bottom: 0;
  margin-top: 11rem;
}

.footer p a{
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
}

.footer p a:hover{
  border-bottom: 2px solid #ffffff;
  font-weight: 500;
}

/* page not found */

.pnf {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.pnf-1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px; 
}

.pnf-2 {
  font-weight: normal;
  margin-bottom: 20px; 
}

.pnf-3 {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
}



.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-image: url('../src/Assets/register.jpg'); 
  background-size: cover;  
  background-size: 100% 100%; 
}

.registration-form{
  position: relative;
  min-height: 100vh;
 
}


.form{
  margin-left: 2%;
}


.registration-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/Assets/register.jpg');
  background-size: cover;  
  background-position: center;
  opacity: 0.6; /* Adjust the opacity value */
  z-index: -1;
  background-repeat: repeat;

}


.register-heading {
  text-align: center;
  margin-bottom: 15px;
  color: #333333;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  padding: 15px 30px; 
  background-color: #3dabca;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  margin-right: 5%;
  margin-top: 0.5%;
}

.btn-primary:hover {
  background-color: #0056b3;

}
.btn{
  display: flex;
  justify-content: center;
  align-items: center
}

.inForm{
  border: 1px solid black;
  margin-left: 0.2%;
}
.n{
  padding-left: 3px;
  font-weight: 600;
}

.req{
  color: red;
}
.login-buttons{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}
.login-buttons button {
  flex: 1; 
  margin: 5px;
}


/* Your existing CSS code */

/* Media query for all elements */
@media screen and (max-width: 850px) {
  /* Adjust styles for smaller screens here */
  .register-form {
    margin-left: auto; /* Center the form horizontally on smaller screens */
    margin-right: auto; /* Center the form horizontally on smaller screens */
    max-width: 50%; /* Adjust max-width for smaller screens */
  }

  /* Add more styles for smaller screens here */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: url("./Assets/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(to right, #cab4c6, #98e2ea);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 57%;
}

.login-heading {
  text-align: center;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  padding-right: 40px; /* Adjust this value as needed */
}

.password-toggle-button {
  position: absolute;
  right: 5px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}



.spinner{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
}
